*.pyc
*.npy
*.csv
pickle
*.jpg
nn_robust_attack/models
*.bin
*.txt
nn_robust_attack/tmp
nn_robust_attack/cifar-10-batches-bin
*.gz

.idea/**/workspace.xml
.idea/**/tasks.xml
.idea/dictionaries
.idea/
.idea
.idea/workspace.xml
.idea/*

# Sensitive or high-churn files:
.idea/**/dataSources/
.idea/**/dataSources.ids
.idea/**/dataSources.xml
.idea/**/dataSources.local.xml
.idea/**/sqlDataSources.xml
.idea/**/dynamic.xml
.idea/**/uiDesigner.xml

!.gitignore
!*/requirements.txt
!*/zipFile.txt
*.pickle
*.pkl
*.json
